
.Employees{
    width: 100%;
    height: 90vh;
    margin-top: 80px;
    background-color: gray;
    padding-top: 110px;
    .Employees_table{
        margin: 0px auto;
        padding: 1rem;
        width: 70%;
        border: 3px solid white;
        border-radius: 15px;
        .Employees_thead{
            tr{
                width: 100%;
                th{
                    background-color: rgb(168, 168, 168);
                    border-radius: 7px;
                    border-bottom : 3px solid white;
                    border-right : 3px solid white;
                    padding: .5rem;
                    font-size: 20px;
                    color: rgb(41, 41, 41);
                }
            }
        }
        .Employees_tbody{
            tr{
                width: 100%;
                td{
                    background-color: rgb(123, 123, 123);
                    border-radius: 7px;
                    border-bottom : 3px solid white;
                    border-right : 3px solid white;
                    padding: .5rem;
                    font-size: 16px;
                    text-align: center;
                    color: rgb(41, 41, 41);
                    button{
                        width: 50px;
                        padding: 5px;
                        background-color:rgba(95, 158, 160, 0.779);
                        border-radius: 7px;
                        margin-left: 5px;
                        transition: all 0.5s linear;

                    }
                    button:hover{
                        cursor: pointer;
                        transform: scale(1.1);
                        background-color: rgb(101, 178, 181);
                    }
                    a{
                        font-size: 16px;
                        text-align: center;
                        color: rgb(41, 41, 41);
                        text-decoration: none;
                    }
                    a:hover{
                        transform: scale(1.3);
                        color: white;
                    }
                }
            }
        }
    }
    .buttonContainer{

        width: 50%;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
            width: 150px;
            padding: 10px;
            background-color:rgba(95, 158, 160, 0.779);
            border-radius: 7px;
            margin-left: 5px;
            font-size: 16px;
            text-align: center;
            color: rgb(41, 41, 41);
            text-decoration: none;
            transition: all 0.5s linear;

        }
        button:hover{
            cursor: pointer;
            transform: scale(1.1);
            background-color: rgb(101, 178, 181);
        }


    }
}